.homeItem{
    width: 100%;
    height: 100%;
    padding:20px;
    box-sizing: border-box;
   .itemTop{
       height: 50px;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   .itemFoot{
       padding: 20px 0 0 0;
       display: flex;
       justify-content: space-between;
   }
   .itemImg{
       width: 30%;
       height: 200px;
   }

}