.typeItem{
    width:250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   .itemTop{
       width:100px;
       height: 100px;
       img{
        border-radius: 10px;
       }
   }
   .itemFoot{
       padding:10px 0;
       width: 100%;
       text-align: center;
   }
}