.productList{
    width: 100%;
    height: 100%;
    .productBox{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding:10px;
        box-sizing: border-box;
        flex-wrap: wrap;
        
        .searchImg{
            width: 30%;
            max-width: 300px;
            height: 250px;
        }
        
    }
}

