.searchBox{
    width: 100%;
    height: 100%;
    display: flex;
    padding:20px;
    align-items: center;
    box-sizing: border-box;
    .searchInput{
        border: 1px solid #999;
        border-radius: 40px;
        flex: 1;
    }
    .searchTxt{
        padding:0 0 0 20px;
    }
}