page{
    height: 100%;
  }
html,body{
    height: 100%;
}
.taro_page {
    height: 100%; 
}

.taro_router {
    height: 100%; 
    div{
        height: 100%;  
    }
}

.taro-tabbar__container{
    height: 100%; 
}

.taro-tabbar__panel{
    height: 100%; 
}
.pageTitle{
    padding: 10px 0 0 0;
    color: #333;
    text-align: center;
}

.pageSwiper{
    width: 100%;
    height: 300px;
    margin: 40px 0 0 0;
    .pageSwiperImg{
        width: 100%;
        height: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        img{
            border-radius: 50px;
        }
    }
    .pageSwiperHeightImg{
        margin:-50px 0 0 0;
        width: 100%;
        height: auto;
        padding: 0 10px;
        box-sizing: border-box;
        img{
            border-radius: 50px;
        }
    }
 }   

.pageBanner{
    padding:50px 0;
    width: 90%;
    margin: auto;
    min-height: 300px;
    img{
        border-radius: 50px;
    }
}
.globalInput{
    flex:1;
    border: 1px solid #aaa;
    text-align: left;
    border-radius: 50px;
    input{
        text-indent:20px;
    }
}